<nav>
    <div class="site-title">
        <a href="/"><h1>OnomatoPedal Studio</h1></a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/info">Info</a></li>
            <li><a href="/about">About</a></li>
            <li class="logoutBtn">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">LOG OUT</button>
                </form>
            </li>
        </ul>
        <ul>
            <li><a href="/preview">Preview</a></li>
            <li><a href="/keys">Keys</a></li>
            <li><a href="/samples">Samples</a></li>
            <li><a href="/stems">Stems</a></li>
        </ul>
    </div>
</nav>