<nav class="front">
    <div class="site-title front">
        <a href="/"><h1>OnomatoPedal</h1></a>
    </div>
    <ul>
        <li class="cLcases">Hello, <%= name %></li>
        <li class="logoutBtn loginBtn">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">LOG OUT</button>
            </form>
        </li>
    </ul>
</nav>
<div class="sideNav">
    <p class="backFront"><a href="/">OnomatoPedal Top</a></p>

    <div class="site-title">
        <h1>OnomatoPedal<br/><span>Studio</span></h1>
    </div>
    <div class="navLeft">
        <% if (nav == undefined) { var nav = null; } %>
        <ul>
            <a href="/studio"><li <% if (nav === 'studio') { %>class="current" <% } %>>Dashboard</li></a>

            <a href="/stems"><li <% if (nav === 'stems') { %>class="current" <% } %>>Stems</li></a>

            <a href="/keys"><li <% if (nav === 'keys') { %>class="current" <% } %>>Keys</li></a>

            <a href="/samples"><li <% if (nav === 'samples') { %>class="current" <% } %>>Samples</li></a>

            <a href="/info"><li <% if (nav === 'info') { %>class="current" <% } %>>Info</li></a>

            <a href="/preview"><li <% if (nav === 'preview') { %>class="current" <% } %>>Preview</li></a>

            <a href="/guide"><li <% if (nav === 'aboutst') { %>class="current" <% } %>>Guide</li></a>
        </ul>
    </div>
    <div class="footer">
        <div class="flex">
        <a href="https://www.earthquakerdevices.com/" target="_blank"><img class="footerLogo" src="images/EQD_logo_S.png" alt="EQD logo"></a>
        <a href="https://www.patternbased.com/" target="_blank"><img class="footerLogo" src="images/PB_logo_S.png" alt="PB logo"></a>            
    </div>
        <p>&copy;2021 Earthquaker Devices and PatternBased</p>
    </div>
</div>