<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
 
    <div class="content p404">
        <h2>404 Oops</h2>
        <p>Page Not Found. You are lost.<br/>Might as well meet our bunnies before going back. Orlando on the left, and Corabelle on the right.</p>
        <div class="flex">
            <img src="images/orlando.png" alt="orlando">
            <img src="images/corabelle.png" alt="corabelle">
        </div>
        <a href="/">
            <button>Home</button>
        </a>
        <a href="/login">
            <button>Log In</button>
        </a>
    </div>
</body>
</html>