<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="content about">
        <h2>About OnomatoPedal Studio</h2>
        <p>OnomatoPedal Studio is a browser based application that allows a musical artist to build the audio portion of an interactive audio-visual OnomatoPedal by uploading short audio samples that will trigger when keys on the keyboard are pressed along with three looping bakcground 'stems'. An OnomatoPedal is an EQD inspired interactive experience that end users can play with by triggering sounds and visuals at OnomatoPedal.com.</p>
        <h2>How To Use</h2>
        <ul>
            <li> Use the 'Keys' section to upload short samples (mp3s) that the end user will trigger by playing keys on their keyboard. You can set the root note manually and if you name the root note in the file, it will be set by the software. For best results, name the sound using the root note (ie C4, G#5 etc) of the sound but feel free to experiment as well.</li>
            <li> Use the 'Stems' section to upload up to three different stems (mp3s). These will be audio tracks that the user can loop in the background as they trigger sounds. If the stems are all the same length, they will loop in sync with each other which is good for tight rhythm based music but you can also upload stems of varying lengths which would be good for ambient and more sound designerly type tracks.</li>
            <li> Use the 'Samples' section to manage samples. The samples will each be color coded and corresponding colors will show up in the Keys section to help you keep things organized.</li>
        </ul>
        <h2>Need Help?</h2>
        <p>Questions about OnomatoPedal and technical help, <a href="https://patternbased.com/contact/">contact Siori and Joey</a> at PatternBased. Questions about the pedals, use your contact at EarthQuakerDevices.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>