<html lang="en">
    <%- include('./partials/frontHead.ejs')  %> 
<body>
    <%- include('./partials/frontNav.ejs')  %> 
    <div class="center-content">
        <h1>About OnomatoPedal</h1>
    </div>

</body>
</html>