<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="content guide sideBar">
        <div class="h2bg">
            <h2>OnomatoPedal Studio Guide</h2>
        </div>
        <p><b>OnomatoPedal Studio</b> is a browser based application that allows a musical artist to build an interactive audio-visual playground (referred to as an <b>OnomatoPedal</b>) by uploading short audio 'samples' that will trigger when keys on the keyboard (or pads on a mobile device) are pressed. Additionally, up to three looping background tracks or 'stems' can be uploaded. Once published, an OnomatoPedal is meant to be an EQD inspired interactive experience that end users can play with by triggering sounds and visuals at OnomatoPedal.com.</p>

        <hr id="stems">
        <h2 class="offsetTop"><span>//</span> Stems <span>//</span></h2>
        <img class="guideImg" src="images/guide/stems.jpg" alt="onomatopedal stems">
        <img class="guideImg" src="images/guide/stems2.jpg" alt="onomatopedal stems">
        <ul>
            <li> On the <a href="/stems">'Stems' page</a>, upload up to three different stems (MP3s). These are looping audio tracks that the end user can turn on and off.</li>
            <li> There are three placeholder stems set when you first login. Delete first then upload your audio files.</li>
            <li> Press the 'Play All Stems' button on the bottom of the screen to test your stems.</li>
            <li> If the stems are all the same length, they will loop in sync with each other which is good for tight rhythm based music but you can also upload stems of varying lengths which might be good for ambient and more abstract type OnomatoPedals.</li>
            <li> Each stem file must be smaller than <b>5MG</b> and in <b>MP3</b> format.</li>
        </ul>

        <hr id="samples">
        <h2 class="offsetTop"><span>//</span> Samples <span>//</span></h2>
        <img class="guideImg" src="images/guide/samples.jpg" alt="onomatopedal samples">
        <img class="guideImg" src="images/guide/samples2.jpg" alt="onomatopedal samples">
        <ul>    
            <li> On the <a href="/samples">'Samples' page</a>, upload and edit short samples (MP3s) that the end user will trigger by playing keys on their keyboard or tapping pads on their mobile device.</li>
            <li> There are three placeholder samples set when you first login to help you get your bearings.</li>
            <li> When uploading a new sample with the 'Add New' button, you can set the 'Sample Pitch' of each sample. <b>This app generates audio based on it.</b> (i.e. If the Sample pitch is 'C4' and the Key pitch is 'E4', the resulting audio is two pitches higher than the original audio file.)</li>
            <li> To keep things organized, we recommend naming the sample using the Sample pitch (i.e. 'C4-piano', 'G#5tone', etc) of the sound.</li>
            <li> If you delete a sample, keys using the sample will be disabled.</li>
            <li> One sample file must be smaller than <b>500KB</b> and in <b>MP3</b> format.</li>
        </ul>

        <hr id="keys">
        <h2 class="offsetTop"><span>//</span> Keys <span>//</span></h2>
        <img class="guideImg" src="images/guide/keys3.jpg" alt="onomatopedal keys">
        <img class="guideImg" src="images/guide/keys4.jpg" alt="onomatopedal keys">
        <ul>
            <li> On the <a href="/keys">'Keys' page</a>, edit each key on keyboard that the end user can play. You can set it to be enabled/disabled, and choose its 'Key Pitch' and 'Sample'.</li>
            <li> You can also upload a new sample from the '+' button. You can set the 'Sample pitch' as well as the 'Key pitch'. We recommend setting the 'Sample Pitch' to the actual pitch of the file. For example, if you have a file that is a C3 note, set 'Sample Pitch' to C3 and you can then use the 'Key Pitch' to assign the same sample to different keys but with different notes.</li>
            <li> You can always test immediately by pressing the keys on your keyboard.</li>
        </ul>

        <hr id="pads">
        <h2 class="offsetTop"><span>//</span> Pads <span>//</span></h2>
        <img class="guideImg" src="images/guide/pads.jpg" alt="onomatopedal keys">
        <img class="guideImg" src="images/guide/pads2.jpg" alt="onomatopedal keys">
        <ul>
            <li> When played on mobile devices, there will be drumpads on the screen to trigger samples. You can see this in action at OnomatoPedal.com.</li>
            <li> On the <a href="/pads">'Pads' page</a>, you can edit the samples that the end user will play on a mobile device. These pads use the same samples as the keyboard but can have a completely independant layout.</li>
            <li> You can edit individual pads or edit entire rows or blocks of pads using the icons located on the outside of the mobile device screen.</li>
            <li> When it is played on mobile devices, there will be drumpads on the screen to trigger samples.</li>
            <li> Log in from your mobile devices to test the mobile version of your play screen.</li>
        </ul>
    
        <hr id="others">
        <h2 class="offsetTop"><span>//</span>Info, Preview, and Dashboard <span>//</span></h2>
        <img class="guideImg" src="images/guide/dashboard2.jpg" alt="onomatopedal info">
        <img class="guideImg" src="images/guide/preview2.jpg" alt="onomatopedal animation">
        <ul>
            <li> On the <a href="/info">'Info' page</a>, enter and edit the information such as artist name, track name, website, etc. that will appear along with your OnomatoPedal.</li>
            <li> Enter an onomatopoeia word inspiring the track and its description.</li>
            <li> On the <a href="/preview">'Preview' page</a>, you can change the animation and the color palette played on the screen.</li>
            <li> You can adjust the speed of animation by changing 'Tempo'.</li>
            <li> On the <a href="/studio">'Dashboard' page</a>, set the cover image which will be used in OnomatoPedal.com. Click on the 'Update' button until it generates the color combo you like, and 'Save' to send the image to the server.</li>
            <li> The cover image is generated based on the animation style and color palette you set in 'Preview', and your onomatopoeia word. We recommend doing this step after setting everything else up.</li>
        </ul>

        <hr>
        <h2 class="offsetTop"><span>//</span> Mobile Preview <span>//</span></h2>
        <ul>
            <li> Log in from your mobile devices to test the mobile version of your play screen.</li>
            <li> Other pages above are not available to use from mobile devices. Please login from a web browser on your computer.</li>
        </ul>

        <hr>
        <h2 class="offsetTop"><span>//</span> Supported Environments <span>//</span></h2>
        <ul>
            <li> OS: MacOS 11+, Windows 10+, iOS 00+, Android 00+, iPadOS 00++</li>
            <li> Browser: Chrome, Safari, FireFox, Opera, Edge</li>
        </ul>

        <hr>
        <h2 class="offsetTop"><span>//</span> Need Help? <span>//</span></h2>
        <p>Questions about OnomatoPedal and technical help, contact<a href="https://patternbased.com/contact/" target="_blank"> Siori and Joey</a> at PatternBased. Questions about the pedals, use your contact at EarthQuakerDevices.<br/>
        Once you are happy with your OnomatoPedal, let your contact know to publish it to OnomatoPedal.com.</p>
    </div>
</body>
</html>