<html lang="en">
    <%- include('./partials/frontHead.ejs')  %> 
<body>
    <%- include('./partials/frontNav.ejs')  %> 

    <div class="featBanner">
        <p>Featured OnomatoPedal</p>
        <h1>Rainbow Machine + Pyon Pyon + Artist Name</h1>
        <a href="/v2demo"><button class="lineBtn">Play</button></a>
    </div>
    <div class="grid-container">
    <% for (var i = 0; i < pedalImages.length; i++) {%>
        <a href="https://onomatopedal.com/pedal.html?pedalid=<%=i%>">
        <div class="pedal-grid">
            <img src= <%= pedalImages[i] %> />
            <div class="pedal-name">
                <h2>Pyon Pyon</h2>
                <h2>Rainbow Machine</h2>
                <h2>Artist Name</h2>
            </div>
        </div>
        </a>
    <% } %>
    </div>
</body>
</html>