<html lang="en">
    <%- include('./partials/frontHead.ejs')  %> 
<body>
    <%- include('./partials/frontNav.ejs')  %> 
    <div class="featBanner sub">
        <p>Featured Collaboration</p>
        <h1>Artist Name</h1>
        <h3>+ Pedal Name + Onomatopoeia</h3>
    </div>
        <div class="center-content">
         <img  class="featCover" src="../images/feat/feat-sample.jpg" alt="feat-artist">
        <h2>Inspiration</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h2>Featured pedal and Onomatopoeia</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <img  class="featCover" src="../images/feat/feat-sample-2.jpg" alt="feat-artist">
        <h2>Heading heading heading</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h2>Heading heading heading</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <div class="feat-item play-pedal">
            <div class="pedal-cover">
                <div class="diamond"></div>
                <p class="onoText">Boom Boom</p>
                <img  class="pedalImg" src="../images/pedals/astraldestiny.png" alt="pedal">
            </div>
            <div class="feat-info">
                <h2>Artist Name</h2>
                <h3>+ Pedal Name + Onomatopoeia</h3>
                <a href="/v2demo">
                    <button class="lineBtnWh long">Play</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>