<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
 
    <div class="content about sideBar">
        <div class="centerMiddle">
            <h2 id="saved">SAVED</h2>
            <img src="images/composition.svg" alt="piano" width="120">       
        </div>
    </div>
<script>
    setTimeout(function(){
        window.location.replace(`/studio`);
    }, 500)
</script>
</body>
</html>