<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
 
    <div class="content p404">
        <h2>SAVED</h2>
    </div>
    <%- include('./partials/footer.ejs')  %> 
<script>
    setTimeout(function(){
        window.location.replace('/studio');
    }, 1000)
</script>
</body>
</html>