@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

div#controller {
  position: fixed;
  left: 20px;
  height: 40px;
  bottom: -120%;
  width: calc(100% - 40px);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  transition-duration: 200ms;
}

@media only screen and (max-width: 800px) {
  #controller {
    bottom: calc((10vh - 40px)/2);
  }
}

#controlMain {
  opacity: 0.6;
}

#controlMain.paused {
  background: url(../images/Play_btn_crcl.svg) no-repeat;
}
#controlMain.playing {
  background: url(../images/Pause_btn_crcl.svg) no-repeat;
}

#controlMain, #controlStems .stem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#controlMain:hover, #controlStems .stem:hover {
  opacity: 1;
  transition-duration: 300ms;
}

#controlStems {
  width: auto;
  height: 40px;
  display: flex;
}

#controlStems .stem {
  margin-left: 20px;
  /* background: #FFF; */
  text-align: center;
  line-height: 2.5em;
  font-family: 'Dosis', sans-serif;
}

.unmuted {
  background: #fc7e86;
  opacity: 0.6;
}

.muted {
  background: #ffffff;
  opacity: 0.3;
}

    /* Keys View */

    .keys {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
    .keyboard {
      width: 400px;
      height: 300px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 5px;
    }
    .keyboard div.key {
      background-color: #444;
      border-radius: 5px;
      width: calc(100% - 6px);
      text-align: center;
      display: inline-table;
      padding: 3px;
      visibility: hidden;
    }
    .keyboard div.key p {
      color:#777;
      font-size: 0.8em;
    }
    .keyboard div.key.active {
      background-color: #F56476;
      visibility: visible;
    }
    .keyboard div.key.active p {
      color: #fff;
    }
    .keyboard div.key h3 {
      font-size: 1.5em;
      margin: 0;
      color: #111;
    }

    /* Keybord keys */

    .keyboard div#Q {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .keyboard div#W {
      grid-column: 3 / 5;
      grid-row: 1;
    }
    .keyboard div#E {
      grid-column: 5 / 7;
      grid-row: 1;
    }
    .keyboard div#R {
      grid-column: 7 / 9;
      grid-row: 1;
    }
    .keyboard div#T {
      grid-column: 9 / 11;
      grid-row: 1;
    }
    .keyboard div#Y {
      grid-column: 11 / 13;
      grid-row: 1;
    }
    .keyboard div#U {
      grid-column: 13 / 15;
      grid-row: 1;
    }
    .keyboard div#I {
      grid-column: 15 / 17;
      grid-row: 1;
    }
    .keyboard div#O {
      grid-column: 17 / 19;
      grid-row: 1;
    }
    .keyboard div#P {
      grid-column: 19 / 21;
      grid-row: 1;
    }
    .keyboard div#A {
      grid-column: 2 / 4;
      grid-row: 2;
    }
    .keyboard div#S {
      grid-column: 4 / 6;
      grid-row: 2;
    }
    .keyboard div#D {
      grid-column: 6 / 8;
      grid-row: 2;
    }
    .keyboard div#F {
      grid-column: 8 / 10;
      grid-row: 2;
    }
    .keyboard div#G {
      grid-column: 10 / 12;
      grid-row: 2;
    }
    .keyboard div#H {
      grid-column: 12 / 14;
      grid-row: 2;
    }
    .keyboard div#J {
      grid-column: 14 / 16;
      grid-row: 2;
    }
    .keyboard div#K {
      grid-column: 16 / 18;
      grid-row: 2;
    }
    .keyboard div#L {
      grid-column: 18 / 20;
      grid-row: 2;
    }
    .keyboard div#Z {
      grid-column: 3 / 5;
      grid-row: 3;
    }
    .keyboard div#X {
      grid-column: 5 / 7;
      grid-row: 3;
    }
    .keyboard div#C {
      grid-column: 7 / 9;
      grid-row: 3;
    }
    .keyboard div#V {
      grid-column: 9 / 11;
      grid-row: 3;
    }
    .keyboard div#B {
      grid-column: 11 / 13;
      grid-row: 3;
    }
    .keyboard div#N {
      grid-column: 13 / 15;
      grid-row: 3;
    }
    .keyboard div#M {
      grid-column: 15 / 17;
      grid-row: 3;
    }
    .keyboard div#SPACE {
      grid-column: 6 / 16;
      grid-row: 4;
    }