nav {
    z-index: 9000;
}
nav.front {
    margin: 0;
    height: 30px;
    padding: 10px;
  }
  nav.front ul li {
      margin: 0 20px 0 0;
  }
  nav.front ul li:last-of-type {
    margin: 0 10px 0 0;
  }
nav .front h1{
    font-size: 1.6em;
    margin-top: 2px;
  }

nav.front div.mobnav {
    width: 220px;
    padding: 50px;
    max-width: calc(100% - 100px);
    background: #111;
    position: fixed;
    top: 0;
    right: -120%;
    height: 100%;
    z-index: 4000;
    border-left: #777 1px solid;
    transition-duration: 200ms;
}
nav.front div.mobnav ul, nav.front div.mobnav ul li {
    display: block;
}
nav.front div.mobnav ul li {
    margin-bottom: 40px;
}

nav.front .menuBtn, nav.front .closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}
nav.front .menuBtn {
    background: url('../images/menuBtn.svg');
    display: none;
}
nav.front .closeBtn {
    background: url('../images/closeBtn.svg');
}
@media(max-width: 650px) {
    nav.front ul {
        display: none;
    }
    nav.front .menuBtn {
        display: unset;
    }
}

div.center-content {
    width: 800px;
    max-width: 90%;
    padding: 50px 0;
    margin: 0 auto;
}

div.center-content h2 {
    margin: 50px 0 20px 0;
}
div.center-content p {
    margin-bottom: 50px;
}

div.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    grid-gap: 5px;
    padding: 5px;
}
@media(max-width: 620px) {
    div.grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media(min-width: 1240px) {
    div.grid-container {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

div.pedal-grid {
    aspect-ratio: 1;
    position: relative;
    background: #222;
}

div.pedal-grid img {
    width: 80%;
    margin: 10%;
    /* z-index: 100; */
    position: relative;
}
div.pedal-grid.v2 img {
    width: 100%;
    margin: 0;
}

div.pedal-grid::before {
    content: "";
    height: 66.6%;
    width: 66.6%;
    position: absolute;
    background-color: #111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* z-index: 0; */
}

div.pedal-grid div.pedal-name, div.pedal-cover div.pedal-name {
    width: 80%;
    height: 80%;
    padding: 10%;
    /* display: none; */
    opacity: 0;
    background-color: #F56476;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

div.pedal-grid:hover div.pedal-name, div.pedal-cover:hover div.pedal-name {
    /* display: block; */
    opacity: 1;
    transition-duration: 200ms;
}

div.pedal-name h2 {
    color: #111;
    font-size: 1.4em;
    margin: 10px 0;
}

div.featBanner {
    width: calc(100% - 20px);
    padding: 50px 10px;
    height: auto;
    background: #F56476;
}
div.featBanner.sub {
    background: #832c36;
    margin-bottom: 30px;
}

div.featBanner h1, div.featBanner p, div.featBanner h3 {
    color: #111;
    text-align: center;
}

div.featBanner.sub p {
    color: #ddd;
}

div.featBanner.sub h1 {
    font-size: 3em;
}

div.featBanner p {
    margin: 5px auto;
}
button.lineBtn, button.lineBtnWh {
    display: block;
    margin: 10px auto 20px auto;
    height: 40px;
    width: 160px;
    background: #F56476;
    color: #111;
    padding: 6px;
    border: #111 2px solid;
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

div.featBanner button.lineBtn {
    margin: 10px auto 0 auto;
}

button.lineBtnWh {
    margin: 10px 0 20px 0;
    background: none;
    border: #F56476 2px solid;
    color: #F56476;
}

button.lineBtn:hover {
    background: #111;
    color: #F56476;
    transition-duration: 200ms;
}

button.lineBtnWh:hover {
    background: #F56476;
    color: #111;
    transition-duration: 200ms;
}

@media(max-width: 800px) {
    div.featBanner.sub h1 {
        font-size: 2.4em;
        line-height: 1em;
        margin-top: 10px;
    }
}

div.infoPanel {
    width: 100%;
    position: fixed;
    top: 51px;
    height: auto;
    padding: 50px 0 0 0 ;
    background-color: rgba(17, 17, 17, 0.8);
    transition-duration: 200ms;
}

div.infoPanel div.flex {
    width: calc(100% - 100px);
    max-width: 1240px;
    padding: 0 50px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 50px;
}

div.infoPanel div.playBtnPanel {
    width: calc(100vw - 20px);
    height: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #F56476;
    color: #111;
    font-size: 2em;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
}
div.infoPanel div.playBtnPanel:hover {
    opacity: 0.5;
    transition-duration: 200ms;
}
div.infoPanel div.infoOne {
    height: 300px;
    width: 300px !important;
    background: #444;
    margin-top: 25px;
    position: relative;
    overflow: hidden;
    z-index: -100;
}

div.infoPanel div.infoOne #diamond {
    height: 66.6%;
    width: 66.6%;
    position: absolute;
    background-color: #222;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    mix-blend-mode: difference;
}

div.infoPanel div.infoOne p {
    position: absolute;
    color: #832c36;
    font-size: 12em;
    line-height: 0.8em;
    z-index: -10;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 0.05em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

div.infoPanel div.infoOne img {
    width: 300px;
    margin: 8% 0;
}

div.infoPanel div.infoTwo {
    width: 400px;
}
div.infoPanel div.infoThree {
    width: 400px;
}
div.infoPanel h2, div.infoPanel p {
    margin: 0;
}
div.infoTwo h2.linkIcon, div.infoTwo h3.linkIcon {
    position: relative;
    width: fit-content;
}
div.infoTwo h2.linkIcon::after, div.infoTwo h3.linkIcon::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('../images/openLink.svg');
    position: absolute;
    top: 8px;
    right: -34px;
}
div.infoTwo h2.linkIcon:hover, div.infoTwo h3.linkIcon:hover {
    color: #F56476;
    cursor: pointer;
}
div.infoTwo h3.linkIcon::after {
    width: 16px;
    height: 16px;
    top: 5px;
    right: -24px;
}
div.infoTwo h3.linkIcon:hover::after, div.infoTwo h2.linkIcon:hover::after {
    background-image: url('../images/openLink-hover.svg');
}
p.label {
    margin: 20px 0 0 0;
    color: #777;
}
div.infoPanel div.pedalImgDiv, div.infoPanel div.pedalImgDiv img#pedalImg {
    width: 300px;
}


img.keyboard {
    width: 400px;
    margin-top: 10px;
}

div.infoPanel div.merch-icons {
    justify-content: left;
}

div.infoPanel div.merch-icons div.icon {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin: 10px 10px 0 0;
    /* border: #F56476 1px solid; */
    background-color: #F56476;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

div.infoPanel div.merch-icons div.icon h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
div.infoPanel div.merch-icons div.icon:hover img {
    opacity: 0;
    transition-duration: 200ms;
}
div.infoPanel div.merch-icons div.icon:hover h3 {
    opacity: 1;
    transition-duration: 200ms;
}

div.infoPanel div.merch-icons img {
    width: 85px;
    margin: 0;
    border-radius: 5px;
}

div.smPedalImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: 100px;
    left: 25px;
    background-color: #F56476;
}

div.smPedalImg img {
    width: 50px;
}

div.feat-container {
    width: 800px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
div.feat-item {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: left;
    margin-top: 5px;
}
div.feat-item.play-pedal {
    margin-bottom: 50px;
}

div.feat-item div.feat-info {
    width: calc(100% - 360px);
    padding: 20px 30px;
}
div.feat-item h2 {
    margin: 0;
}
div.feat-item h3 {
    margin-bottom: 10px;
}
div.feat-item button {
    display: inline-block;
    margin: 20px 10px 0 0;
}
div.feat-item button.long {
    width: 100%;
}

img.featCover {
    width: 100%;
}

.sq300, .sq300 img.cover {
    width: 300px;
    height: 300px;
}

@media(max-width: 800px) {
    div.feat-item {
        max-width: calc(100% - 10px);
        height: 230px;
        margin: 5px auto 0 auto;
    }
    .sq300 {
        width: 230px;
        height: 230px;
    }
    div.feat-item div.feat-info {
        width: calc(100% - 270px);
        padding: 10px 20px;
    }
    div.featBanner.sub {
        margin-bottom: 5px;
    }
}
@media(max-width: 680px) {
    div.feat-item div.feat-info p {
        display: none;
    }
    div.feat-item button {
        width: 100%;
        display: block;
        margin: 10px 0;
    }
}
@media(max-width: 520px) {
    div.feat-item {
        height: 200px;
    }
    .sq300 {
        width: 200px;
        height: 200px;
    }
    div.feat-item div.feat-info {
        width: calc(100% - 210px);
    }
    div.feat-item button.dlt {
        display: none;
    }
}
@media(max-width: 420px) {
    div.feat-item {
        height: 160px;
    }
    .sq300 {
        width: 160px;
        height: 160px;
    }
    div.feat-item div.feat-info {
        width: calc(100% - 200px);
    }
    div.feat-item h2 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    div.feat-item h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
    div.feat-item button {
        height: 36px;
        font-size: 1em;
        border: none;
        position: relative;
    }
    div.feat-item button.long {
        width: calc(100% - 30px);
    }
    div.feat-item button::after {
        content: ">>";
        position: absolute;
        top: 8px;
        right: -20px;
        color: #F56476;
    }
    div.feat-item.play-pedal {
        width: 100%;
        max-width: 100%;
        margin: 0 0 50px 0;
        }
}