div.center-content {
    width: 800px;
    max-width: 90%;
    padding: 50px 0;
    margin: 0 auto;
}

div.center-content h2 {
    margin: 50px 0 20px 0;
}
div.center-content.feat h2 {
    margin: unset;
}
div.center-content p {
    margin-bottom: 50px;
}

div.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    grid-gap: 5px;
    padding: 5px;
}
@media(max-width: 620px) {
    div.grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media(min-width: 1240px) {
    div.grid-container {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

div.pedal-grid {
    aspect-ratio: 1;
    position: relative;
    background: #222;
}

div.pedal-grid img {
    width: 75%;
    margin: 12.5%;
    /* z-index: 100; */
    position: relative;
}
div.pedal-grid.v2 img {
    width: 100%;
    margin: 0;
}

div.pedal-grid h3.artistName {
    width: calc(100% - 10px);
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

div.pedal-grid::before {
    content: "";
    height: 70%;
    width: 70%;
    position: absolute;
    background-color: #111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* z-index: 0; */
}

div.pedal-grid div.pedal-name, div.pedal-cover div.pedal-name {
    width: 80%;
    height: 80%;
    padding: 10%;
    /* display: none; */
    opacity: 0;
    background-color: #F56476;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    text-align: center;
}

div.pedal-grid:hover div.pedal-name, div.pedal-cover:hover div.pedal-name {
    /* display: block; */
    opacity: 1;
    transition-duration: 200ms;
}

div.pedal-name p {
    font-size: 0.8em;
}
div.pedal-name h2 {
    color: #111;
    font-size: 1.1em;
    margin: 0 0 5px 0;
}

div.featBanner {
    width: calc(100% - 20px);
    padding: 50px 10px;
    height: auto;
    background: #F56476;
}
div.featBanner.sub {
    background: #832c36;
    margin-bottom: 30px;
}

div.featBanner h1, div.featBanner p, div.featBanner h3 {
    color: #111;
    text-align: center;
}

div.featBanner.sub p {
    color: #ddd;
}

div.featBanner.sub h1 {
    font-size: 3em;
}

div.featBanner p {
    margin: 5px auto;
}
button.lineBtn, button.lineBtnWh {
    display: block;
    margin: 10px auto 20px auto;
    height: 40px;
    width: 160px;
    background: #F56476;
    color: #111;
    padding: 6px;
    border: #111 2px solid;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

div.featBanner button.lineBtn {
    margin: 10px auto 0 auto;
}

button.lineBtnWh {
    margin: 10px 0 20px 0;
    background: none;
    border: #F56476 2px solid;
    color: #F56476;
}

button.lineBtn:hover {
    background: #111;
    color: #F56476;
    transition-duration: 200ms;
}

button.lineBtnWh:hover {
    background: #F56476;
    color: #111;
    transition-duration: 200ms;
}

@media(max-width: 800px) {
    div.featBanner.sub h1 {
        font-size: 2.4em;
        line-height: 1em;
        margin-top: 10px;
    }
}

div.infoPanel {
    width: 100%;
    position: absolute;
    top: 51px;
    height: auto;
    padding: 50px 0 0 0 ;
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 200ms;
}

div.infoPanel div.flex {
    width: calc(100% - 100px);
    max-width: 1240px;
    padding: 0 50px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 40px;
}

div.infoPanel div.playBtnPanel {
    width: calc(100vw - 20px);
    height: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #F56476;
    color: #111;
    font-size: 1.6em;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
}
div.infoPanel div.playBtnPanel:hover {
    opacity: 0.5;
    transition-duration: 200ms;
}
div.infoPanel div.infoOne {
    height: 300px;
    width: 300px !important;
    background: #444;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

div.infoPanel div.infoOne #diamond {
    height: 66.6%;
    width: 66.6%;
    position: absolute;
    background-color: #222;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    mix-blend-mode: difference;
}

div.infoPanel div.infoOne p {
    position: absolute;
    color: #832c36;
    font-size: 12em;
    line-height: 0.8em;
    z-index: -10;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 0.05em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

div.infoPanel div.infoOne img {
    width: 300px;
    margin: 0;
}

div.infoPanel div.infoTwo {
    width: 400px;
    flex-shrink: 2;
}
div.infoPanel div.infoThree {
    width: 400px;
    flex-shrink: 1;
}
@media (max-width: 1090px) {
    div.infoPanel div.flex {
        padding: 0 20px;
        gap: 20px;
        display: block;
        width: 740px;
        max-width: 90%;
        margin: 0 auto;
    }
    div.infoPanel div.infoOne, div.infoPanel div.infoTwo, div.infoPanel div.infoThree {
        display: inline-block;
        vertical-align: top;
    }
    div.infoPanel div.infoThree {
        display: block;
        width: 100%;
        margin: 30px auto;
        padding: 20px 0 ;
        border-top: #777 1px solid;
        border-bottom: #777 1px solid;
        /* display: none; */
    }
    div.infoPanel div.infoThree div {
        margin: 0 auto;
    }
}

@media (max-width: 782px) {
    div.infoPanel {
        padding: 0;
    }
    div.infoPanel div.infoOne, div.infoPanel div.infoTwo {
        display: block;
        margin: 30px auto;
        text-align: center;
    }
}


div.infoPanel h2, div.infoPanel p {
    margin: 0;
}
div.infoPanel h2, div.infoPanel h3 {
    letter-spacing: 0.04em;
}
div.infoPanel h2 {
    font-size: 1.5em;
}
div.infoPanel h3 {
    font-size: 1em;
}
div.infoTwo h2.linkIcon, div.infoTwo h3.linkIcon {
    position: relative;
    width: fit-content;
}
div.infoTwo h2.linkIcon::after, div.infoTwo h3.linkIcon::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('../images/openLink.svg');
    position: absolute;
    top: 6px;
    right: -30px;
}
@media (max-width: 782px) {
    div.infoTwo h2.linkIcon, div.infoTwo h3.linkIcon {
        width: unset;
    }
    div.infoTwo h2.linkIcon::after, div.infoTwo h3.linkIcon::after {
        display: none;
    }
}
div.infoTwo h2.linkIcon:hover, div.infoTwo h3.linkIcon:hover {
    color: #F56476;
    cursor: pointer;
}
div.infoTwo h3.linkIcon::after {
    width: 14px;
    height: 14px;
    top: 4px;
    right: -22px;
}
div.infoTwo h3.linkIcon:hover::after, div.infoTwo h2.linkIcon:hover::after {
    background-image: url('../images/openLink-hover.svg');
}
div.infoPanel p.label {
    margin: 10px 0 0 0;
    color: #777;
    font-size: 0.8em;
}
div.infoPanel p.label:first-of-type {
    margin: 0;
}

div.infoPanel div.pedalImgDiv, div.infoPanel div.pedalImgDiv img#pedalImg {
    width: 300px;
}


/* img.keyboard {
    width: 400px;
    margin-top: 10px;
} */
div.infoPanel div.keybord-container {
    width: 400px;
    height: 300px;
}

div.infoPanel div.merchContainer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

div.infoPanel div.merch-icons {
    width: fit-content;
    margin: 20px auto 0 auto;
    padding-left: 75px;
    position: relative;
}
div.infoPanel div.merch-icons::before {
    content: "MUSIC, ART & MERCH";
    width: 60px;
    font-size: 0.8em;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #777;
}

div.infoPanel div.merch-icons div.icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px 10px 0 0;
    /* border: #F56476 1px solid; */
    background-color: #F56476;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

div.infoPanel div.merch-icons div.icon h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
div.infoPanel div.merch-icons div.icon:hover img {
    opacity: 0;
    transition-duration: 200ms;
}
div.infoPanel div.merch-icons div.icon:hover h3 {
    opacity: 1;
    transition-duration: 200ms;
}

div.infoPanel div.merch-icons img {
    width: 60px;
    margin: 0;
    border-radius: 5px;
}

div.smPedalImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: 100px;
    left: 25px;
    background-color: #F56476;
}

div.smPedalImg img {
    width: 50px;
}

div.feat-container {
    width: 800px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
div.feat-item {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
div.feat-item.list .feat-info {
    background: #222;
    border-radius: 0 5px 5px 0;
}
div.feat-item .feat-info:hover {
    background: #832c36;
    transition-duration: 200ms;
}

div.pedal-cover img.pedalImg {
    width: 100%;
}

div.feat-item.play-pedal {
    margin-bottom: 50px;
}

div.feat-item div.feat-info {
    width: calc(100% - 300px);
    padding: 20px 30px;
    background: #222;
    border-radius: 5px 0 0 5px;
    position: relative;
    height: 200px;
}
div.feat-item div.linkImg {
    width: 240px;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    text-align: center;
}
div.feat-item h2, div.center-content.feat div.feat-item h2 {
    margin: 10px 0;
    position: relative;
}
div.feat-item h2::after, div.center-content.feat div.feat-item h2::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: -5px;
    left: 0;
    background: #ddd;
}
div.feat-item.list h2::after {
    height: 2px;
    bottom: -5px;
    background: #832c36;
}
div.feat-item.list .feat-info:hover h2::after {
    background: #777;
}

div.feat-item.list h3 {
    color: #777;
}
div.center-content.feat div.feat-item p {
    margin: 0;
}
div.feat-item p.url {
    color: #777;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

div.feat-item h3 {
    margin-bottom: 10px;
}
div.feat-item button {
    display: inline-block;
    margin: 20px 10px 0 0;
}
div.feat-item button.long {
    width: 100%;
}

img.featCover {
    width: 100%;
}

.sq300, .sq300 img.cover {
    width: 300px;
    height: 300px;
}

.feat-cover {
    width: 240px;
    height: 240px;
    overflow: hidden;
    text-align: center;
    position: relative;
    border-radius: 5px 0 0 5px;
}
img.featImg {
    height: 240px;
    width: auto;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.feat iframe {
    width: 100%;
}

div.center-content.feat p {
    margin-bottom: 60px;
    line-height: 1.6em;
}

.feat p a {
    color: #F56476;
}
.feat p.caption {
    color: #777;
    margin-top: 10px;
    text-align: right;
}

@media(max-width: 800px) {
    div.feat-item {
        max-width: calc(100% - 10px);
        height: 230px;
        margin: 5px auto 0 auto;
    }
    .sq300 {
        width: 230px;
        height: 230px;
    }
    div.feat-item div.feat-info {
        width: calc(100% - 270px);
        padding: 10px 20px;
    }
    div.featBanner.sub {
        margin-bottom: 5px;
    }
}
@media(max-width: 680px) {
    div.feat-item div.feat-info p {
        display: none;
    }
    div.feat-item button {
        width: 100%;
        display: block;
        margin: 10px 0;
    }
}
@media(max-width: 520px) {
    div.feat-item {
        height: 200px;
    }
    .sq300 {
        width: 200px;
        height: 200px;
    }
    div.feat-item div.feat-info {
        width: calc(100% - 210px);
    }
    div.feat-item button.dlt {
        display: none;
    }
}
@media(max-width: 420px) {
    div.feat-item {
        height: 160px;
    }
    .sq300 {
        width: 160px;
        height: 160px;
    }
    div.feat-item div.feat-info {
        width: calc(100% - 200px);
    }
    div.feat-item h2 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    div.feat-item h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
    div.feat-item button {
        height: 36px;
        font-size: 1em;
        border: none;
        position: relative;
    }
    div.feat-item button.long {
        width: calc(100% - 30px);
    }
    div.feat-item button::after {
        content: ">>";
        position: absolute;
        top: 8px;
        right: -20px;
        color: #F56476;
    }
    div.feat-item.play-pedal {
        width: 100%;
        max-width: 100%;
        margin: 0 0 50px 0;
        }
}

.editor {
    width: 800px;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    /* background: #222; */
    color: #ddd;
}

.editorNav {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 20px;
    left: 20px;
    background: #F56476;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgb(17, 17, 17, 0.3);
    z-index: 500;
}
.editorNav:hover {
    background: #b14d59;
}
.buttons {
    background: #111;
    border-top: #777 solid 1px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0 50px 20px 50px;
    width: calc(100vw - 100px);
    z-index: 5000;
    justify-content: center;
    border-radius: unset;
    max-width: unset;
}

.buttons button {
    width: 400px;
}

.buttons button.disabled {
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}

.buttons button.line-button {
    border: #F56476 1px solid;
    background: #111;
    color: #F56476;
}

.ce-paragraph a, .ce-header a {
    color: #F56476;
}

.ce-paragraph {
    margin-bottom: 30px;
}

.featBanner .ce-paragraph {
    margin-bottom: 0;
}

.cdx-block.embed-tool {
    margin-top: 30px;
}

#headerED {
    text-align: center;
    height: 140px;
    overflow: hidden;
    padding: 40px 10px;
}
#headerED .ce-paragraph {
    color: #ddd;
    font-size: 1.2em;
}
#headerED .ce-header {
    color: #111;
    padding-top: 0;
    line-height: 1.2em;
}

div.link-tool {
    background: #444;
    color: #ddd;
}

a.link-tool__content, a.link-tool__content--rendered {
    background: #222;
    color: #ddd;
    margin: 30px 0;
    border-radius: 6px;
}

div.link-tool__image {
    width: 150px;
    height: 150px;
}
div.link-tool__title {
    font-family: 'Staatliches', sans-serif;
    font-size: 28px;
    color: #ddd;
}
div.image-tool__caption, div.embed-tool__caption {
    color: #777;
}
div.image-tool__caption, div.embed-tool__caption, a.link-tool__content, a.link-tool__content--rendered {
    border: #444 solid 1px;
}

div.post {
    width: calc(100% - 60px);
    background: #222;
    margin: 5px 0;
    padding: 20px 20px 20px 40px;
    position: relative;
    display: flex;
    justify-content: end;
}

div.post .main {
    width: 600px;
}

div.post::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    left: 0;
    background: #F56476;
}
div.post.published::before {
    background: #832c36;
}

div.post:hover {
    background: #F56476;
    transition-duration: 200ms;
}
div.post.published:hover {
    background: #832c36;
    transition-duration: 200ms;
}
div.post h2 {
    margin: 5px 0;
}
div.post p b {
    color: #777;
}
div.createNew {
    width: 100%;
    height: 80px;
    background: #F56476;
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    color: #111;
    font-size: 1.6em;
    line-height: 3em;
    cursor: pointer;
}
div.createNew:hover {
    opacity: 0.5;
    transition-duration: 200ms;
}

div.featList {
    margin: 80px auto;
}

.featListNav h1 span {
    color: #832c36;
}

div#newPanel {
    padding: 50px;
    background: #444;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#newPanel h3 {
    font-size: 1.6em;
}
div#newPanel p b {
    color: #F56476;
}

div#transparentScreen, div#transparentScreen2, div#transparentScreen3 {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
}

div.closebtn {
    width: 40px;
    height: 40px;
    background: url(../images/close.svg);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
div.actionBtn {
    position: absolute;
    width: 100px;
    height: 30px;
    right: 20px;
    background: none;
    border: #ddd 1px solid;
    z-index: 2000;
    color: #ddd;
    border-radius: 5px;
    text-align: center;
    line-height: 2em;
}
div.actionBtn:hover {
    background: #111;
}
div.actionBtn.renameBtn {
    top: 20px;
}
div.actionBtn.deleteBtn {
    top: 65px;
}
form.popup {
    width: 400px;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: #F56476;
    z-index: 9000;
    border-radius: 5px;
    text-align: center;
  }
  form.popup.stempu {
    left: calc(50% + 130px);
  }
  form.popup p, form.popup h2 {
    color: #111;
    margin-bottom: 20px;
  }
  form.popup input.formButton {
    background: #111;
    color: #F56476;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 1em;
  }
  form.popup input.formButton:hover {
    opacity: 0.5;
    transition-duration: 200ms;
  }