@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

/* #draw-animation, main canvas {
  background: #2C363F;
  width: 100%;
  height: calc(100% - 75px);
  margin: 0;
  padding: 0;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

#drumpads {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: block;
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
  visibility: hidden;
}

.pad {
  display: inline-block;
  position: absolute;
  width: 33vw;
  height: 10vh;
  margin: 0;
  padding: 0;
  background-color:#ffffff;
  opacity: 0;
  mix-blend-mode:soft-light
}

.pad:nth-of-type(7n+1) {opacity: 0.05;}
.pad:nth-of-type(7n+2) {opacity: 0.2;}
.pad:nth-of-type(7n+3) {opacity: 0.3;}
.pad:nth-of-type(7n+4) {opacity: 0.1;}
.pad:nth-of-type(7n+5) {opacity: 0.25;}
.pad:nth-of-type(7n+6) {opacity: 0.15;}

@media only screen and (max-width: 800px) {
  #drumpads {
    visibility: visible;
  }
} */

div#controller {
  position: fixed;
  left: 20px;
  height: 40px;
  bottom: -120%;
  width: calc(100% - 40px);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  transition-duration: 200ms;
}

@media only screen and (max-width: 800px) {
  #controller {
    bottom: calc((10vh - 40px)/2);
  }
}

#controlMain {
  opacity: 0.6;
}

#controlMain.paused {
  background: url(../v2/images/Play_btn.svg) no-repeat;
}
#controlMain.playing {
  background: url(../v2/images/Pause_btn.svg) no-repeat;
}

#controlMain, #controlStems .stem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#controlMain:hover, #controlStems .stem:hover {
  opacity: 1;
  transition-duration: 300ms;
}

#controlStems {
  width: auto;
  height: 40px;
  display: flex;
}

#controlStems .stem {
  margin-left: 20px;
  /* background: #FFF; */
  text-align: center;
  line-height: 2.5em;
  font-family: 'Dosis', sans-serif;
}

.unmuted {
  background: #fc7e86;
  opacity: 0.6;
}

.muted {
  background: #ffffff;
  opacity: 0.3;
}