@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

canvas {
  background: #2C363F;
  width: 100%;
  height: calc(100% - 115px);
  margin: 0;
  padding: 0;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

/* canvas.sideBar {
  width: calc(100% - 260px);
  left: 260px;
} */

#drumpads {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  /* display: block; */
  display: grid;
  grid-template-columns: calc(100vw/3) calc(100vw/3) calc(100vw/3);
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
  visibility: hidden;
}

.pad {
  /* display: inline-block;
  position: absolute; */
  width: 33vw;
  height: 10vh;
  margin: 0;
  padding: 0;
  background-color:#ffffff;
  opacity: 0;
  mix-blend-mode:soft-light
}

.pad:nth-of-type(7n+1) {opacity: 0.05;}
.pad:nth-of-type(7n+2) {opacity: 0.2;}
.pad:nth-of-type(7n+3) {opacity: 0.3;}
.pad:nth-of-type(7n+4) {opacity: 0.1;}
.pad:nth-of-type(7n+5) {opacity: 0.25;}
.pad:nth-of-type(7n+6) {opacity: 0.15;}

@media only screen and (max-width: 800px) {
  #drumpads {
    visibility: visible;
  }
}

#controller {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: calc(100% - 40px);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  #controller {
    bottom: calc((10vh - 40px)/2);
  }
}

.animator {
  position: fixed;
  top: 50px;
  right: 0;
  width: 400px;
  height: fit-content;
  padding: 0 40px 30px 40px;
}
.animator:hover {
  background: #111;
  border-bottom: #777 2px solid;
  transition-duration: 200ms;
}

.animator .handle {
  position: absolute;
  top: 0;
  left: -60px;
  width: 60px;
  height: 100%;
  border-right: #777 solid 2px ;
}

.animator .handle img {
  margin-top: 30px;
  width: 40px;
  padding: 10px 8px 10px 10px;
  border-radius: 5px 0 0 5px;
  border: #777 solid 2px;
  background: #777;
  cursor: pointer;
}

.animator .handle img:hover {
  background: #F56476;
  border: #F56476 solid 2px;
  transition-duration: 200ms;
}

.animator form p#unit {
  position: relative;
  top: 25px;
  left: 0;
  width: 400px;
  height: 0;
  color: #777;
  text-align: right;
}
