@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

    body{
      /* max-width: 1200px; */
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      font-family: 'Raleway', sans-serif;
      background-color: #111111;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #dddddd;
    }
    p, ul {
      line-height: 1.4em;
      margin-top: 5px;
    }
    .forms input, .forms select {
      font-family: 'Raleway', sans-serif;
      font-size: 1.1em;
    }
    ul {
      margin-left: 20px;
    }
    h1, h2, h3 {
      font-family: 'Staatliches', sans-serif;
      letter-spacing: 0.05em;
    }
    h2{
      font-size: 2em;
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    /* Global Elements */

    .content {
      min-height: calc(100vh - 115px - 110px - 40px);
    }
    .hidden {
      display: none !important;
    }
    .hidden2 {
      visibility: hidden;
    }
    .show2 {
      visibility: visible;
    }
    .forms.nonav {
      margin-top: 10%;
    }

    div.h2bg {
      width: 100%;
      position: relative;
      height: 40px;
      background-image: url(../images/waves.svg);
      background-repeat: repeat-x;
      margin-bottom: 20px;
    }
    .h2bg h2 {
      top: 0;
      left: 50%;
      width: max-content;
      padding: 0 10px;
      transform: translateX(-50%);
      position: absolute;
      background-color: #111;
      text-align: center;
    }

    /* nav */

    nav{
      display: flex;
      justify-content: space-between;
      margin: 0 0 60px 0;
      padding: 20px 20px 10px 20px;
      border-bottom: 1px solid #777;
      text-transform: uppercase;
    }
    nav .site-title {
      position: relative;
      width: 50%;
    }
    nav .site-title h1 {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
    nav .site-title h1 span {
      color: #832c36;
    }
    nav ul{
      display: flex;
      line-height: 1.2em;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0;
    }
    nav li{
      list-style-type: none;
      margin: 10px 20px 10px 0;
    }
    nav li a:hover {
      color: #F56476;
      transition-duration: 200ms;
    }
    nav h1{
      color: #777;
      line-height: 1em;
      font-size: 3em;
    }
    nav h2 {
      margin-bottom: 0;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    nav form {
      margin: 0;
    }
    nav ul button {
      width: 80px;
      height: 30px;
      background-color: #111;
      border: #F56476 1px solid;
      border-radius: 5px;
      color: #F56476;
      margin-bottom: -5px;
    }
    nav button:hover {
      background-color: #F56476;
      color: #111;
      transition-duration: 200ms;
    }

    /* footer */
    
    footer{
      background-color: #111;
      height: 40px;
      width: 100%;
      text-align: center;
      margin: 50px auto 0 auto;
      /* position: fixed; */
      /* bottom: 0;
      left: 0; */
    }
    footer p {
      color: #555;
    }

    /* Form styles */

    .forms {
      max-width: 400px;
      margin: 0 auto;
    }
    .errmsg {
      color: #F56476;
      text-align: center;
    }
    .forms form{
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
    }
    .forms input,
    .forms select,
    .forms textarea{
      height: 50px;
      /* display: block; */
      width: 100%;
      margin: 10px 0;
      padding: 8px;
      background-color: #ddd;
      border-radius: 5px;
      border: #777 1px solid;
    }
    .forms label{
      display: block;
      color: #777;
      margin-top: 24px;
    }
    .forms textarea{
      height: 120px;
    }
    .forms button, .home button, div.halfBtns, .p404 button {
      margin: 30px 0 20px 0;
      height: 50px;
      width: 100%;
      background: #F56476;
      color: #111;
      padding: 6px;
      border: 0;
      font-size: 1.1em;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 5px;
    }
    .forms button:hover, .home button:hover, .p404 button:hover, div.halfBtns:hover {
      transition-duration: 200ms;
      opacity: 0.5;
    }
    div.halfBtns {
      margin: 10px 0;
      height: 22px;
      padding: 15px;
      width: 40%;
      text-align: center;
    }
    div.halfBtns:last-of-type {
      background: unset;
      border: #F56476 1px solid;
      color: #F56476;
    }
    div.halfBtns:last-of-type:hover {
      opacity: 1;
      background: #F56476;
      color: #111;
    }
    .forms .flex {
      display: flex;
      justify-content: space-between;
    }
    
    /*  Stem player */

    div.player {
      width: 100%;
      height: 70px;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 10px 0;
      border-top: #777 1px solid;
      background: #111;
    }
    #playAllBtn, #BtnContainer {
      margin: 10px auto 0 auto;
      padding: 15px;
      text-align: center;
      height: 22px;
      width: calc(400px - 30px);
      cursor: pointer;
      border-radius: 5px;
      background-color: #F56476;
    }
    #playAllBtn:hover {
      opacity: 0.5;
      transition-duration: 200ms;
    }
    #BtnContainer {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      width: 400px;
      gap: 10px;
      top: 0;
      left: 0;
      background-color: unset;
    }
    #BtnContainer.paused {
      transform: translate(-100vw, -62px);
      transition-duration: 200ms;
    }
    #BtnContainer.playing {
      transform: translate(0, -62px);
      transition-duration: 200ms;
    }
    #playAllBtn.paused {
      transform: translateX(0);
      transition-duration: 200ms;
    }
    #playAllBtn.playing {
      transform: translateX(100vw);
      transition-duration: 200ms;
    }
    #playAllBtn::after {
      content: " Play All Stems";
      position: absolute;
      width: fit-content;
      height: calc(100% - 70px);
      color: #111;
      font-size: 1.1em;
      text-transform: uppercase;
      left: calc( 50% + 10px);
      transform: translateX(-50%);
    }
    #playAllBtn::before {
      content: url('../images/Play_btn_dark.svg');
      position: absolute;
      width: 40px;
      height: 40px;
      left: calc(50% - 100px);
      top: 5px;
    }
    #BtnContainer div {
      width: inherit;
      height: calc(100% + 30px);
      margin: -15px 0 -15px 0;
      text-align: center;
      background-color: #F56476;
      border-radius: 5px;
      color: #111;
      cursor: pointer;
    }
    #BtnContainer div:hover {
      opacity: 0.5;
      transition-duration: 200ms;
    }
    #BtnContainer div#playBtn {
      background-image: url('../images/Pause_btn_dark.svg');
      background-repeat: no-repeat;
      background-position-x: center;
    }
    #BtnContainer div#stem1Btn, #BtnContainer div#stem2Btn, #BtnContainer div#stem3Btn {
      text-align: center;
      font-size: 2.2em;
    }
    #BtnContainer div#stem1Btn.muted, #BtnContainer div#stem2Btn.muted, #BtnContainer div#stem3Btn.muted, #BtnContainer div#stem1Btn.disabled, #BtnContainer div#stem2Btn.disabled, #BtnContainer div#stem3Btn.disabled {
      opacity: 0.5;
    }

