@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');


    body{
      /* max-width: 1200px; */
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      font-family: 'Raleway', sans-serif;
      background-color: #111111;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #dddddd;
    }
    p, ul {
      line-height: 1.4em;
      margin-top: 5px;
    }
    .forms input, .forms select {
      font-family: 'Raleway', sans-serif;
      font-size: 1.1em;
    }
    ul {
      margin-left: 20px;
    }
    h1, h2, h3 {
      font-family: 'Staatliches', sans-serif;
      /* letter-spacing: 0.05em; */
    }
    h2{
      font-size: 1.8em;
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    /* Global Elements */

    /* .content {
      min-height: calc(100vh - 50px);
    } */
    .sideBar {
      padding-left: 260px;
    }
    .hidden {
      display: none !important;
    }
    .hidden2 {
      visibility: hidden;
    }
    .show2 {
      visibility: visible;
    }
    .forms.nonav {
      margin-top: 10%;
    }
    .centerMiddle {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 50%;
      left: calc( 50% + 130px);
      transform: translate( -50%, -50% );
      text-align: center;
    }

    div.h2bg {
      width: 100%;
      position: relative;
      height: 40px;
      background-image: url(../images/waves.svg);
      background-repeat: repeat-x;
      margin: 80px 0 40px 0;
    }
    .h2bg h2 {
      top: 4px;
      left: 50%;
      width: max-content;
      padding: 0 20px;
      transform: translateX(-50%);
      position: absolute;
      background-color: #111;
      text-align: center;
    }

    @media(max-width: 480px) {
    div.h2bg {
      width: calc(100% - 20px);
      margin: 40px 0;
      padding: 0 10px;
    }
  }

    /* nav */

    nav{
      display: flex;
      justify-content: space-between;
      margin: 0 0 60px 0;
      padding: 20px 20px 10px 20px;
      border-bottom: 1px solid #777;
      text-transform: uppercase;
    }
    nav .site-title, .sideNav nav .site-title {
      position: relative;
      width: fit-content;
    }
    nav .site-title h1 {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    .sideNav .site-title h1 {
      margin: 30px 20px;
      font-size: 2.5em;
      line-height: 0.9em;
    }
    nav .site-title h1 span, .sideNav .site-title h1 span {
      color: #b64552;
      line-height: 0.9em;
    }
    nav ul{
      display: flex;
      line-height: 1.2em;
      /* justify-content: space-between; */
      align-items:flex-end;
      margin: 0;
    }
    div.navLeft ul {
      margin: 30px 0;
    }
    nav li, div.nav li{
      display: block;
      list-style-type: none;
      margin: 10px 20px 10px 0;
    }
    
    nav li img, div.nav li img {
      height: 30px;
      margin: 0;
    }

    div.navLeft li {
      font-size: 1em;
      line-height: 2em;
      margin: 8px 0;
      padding: 0 0 0 40px;
      background: #333;
    }
    div.navLeft li:hover {
      background: #b64552;
      transition-duration: 200ms;
    }
    div.navLeft li:hover, div.navLeft li.current:hover {
      color: #111;
      transition-duration: 200ms;
    }
    nav li.cLcases {
      text-transform: none;
    }
    nav li.current, nav.front ul li.current a{
      color: #F56476;
    }
    div.navLeft li.current {
      color: #b64552;
      font-weight: bold;
    }
    div.navLeft li.current {
      position: relative;
    }
    div.navLeft li.current::before {
      content: "";
      width: 35px;
      height: 35px;
      background: url('../images/current.svg');
      position: absolute;
      top: -3px;
      left: 5px;
    }
    div.navLeft li.current:hover::before {
      background: url('../images/current_dark.svg');
    }

    nav a:hover li, nav li:hover a {
      color: #F56476;
      transition-duration: 200ms;
    }
    nav a:hover li.current, nav li.current:hover a, nav.front div.site-title a:hover, nav li.image:hover a {
      opacity: 0.5;
      transition-duration: 200ms;
    }
    nav h2 {
      margin-bottom: 0;
    }
    nav p, nav a {
      color: #777;
      font-weight: 300;
    }
    nav form {
      margin: 0;
    }
    nav ul button, button.navbtn {
      width: max-content;
      height: 30px;
      padding: 0 10px;
      background-color: #111;
      border: #F56476 1px solid;
      border-radius: 5px;
      color: #F56476;
      /* margin-bottom: -5px; */
    }
    nav button:hover {
      background-color: #F56476;
      color: #111;
      transition-duration: 200ms;
    }

    nav {
        z-index: 9000;
    }
    nav.front {
        margin: 0;
        height: 30px;
        padding: 10px;
      }
      nav.front ul li {
          margin: 0 20px 5px 0;
      }
      nav.front ul li.loginBtn {
        margin: 0 20px 0 0;
    }
    nav.front ul li.image {
      margin: 0 10px 0 0;
    }
    nav.front .footerLogo {
      width: 100px;
    }
    nav.front .bottom {
      position: absolute;
      bottom: 20px;
    }
      /* nav.front ul li:last-of-type {
        margin: 0 10px 10px 0;
      } */
    nav .front h1{
        font-size: 1.6em;
        margin-top: 2px;
      }
    nav.front h1 span {
      color: #b64552;
    }
    
    nav.front div.mobnav {
        width: 220px;
        padding: 50px;
        max-width: calc(100% - 100px);
        background: #111;
        position: fixed;
        top: 0;
        right: -120%;
        height: calc(100% - 100px);
        z-index: 4000;
        border-left: #777 1px solid;
        transition-duration: 200ms;
    }
    nav.front div.mobnav ul, nav.front div.mobnav ul li {
        display: block;
    }
    nav.front div.mobnav ul li {
        margin-bottom: 40px;
    }
    
    nav.front .menuBtn, nav.front .closeBtn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    nav.front .menuBtn {
        background: url('../images/menuBtn.svg');
        display: none;
    }
    nav.front .closeBtn {
        background: url('../images/closeBtn.svg');
    }
    @media(max-width: 650px) {
        nav.front ul {
            display: none;
        }
        nav.front .menuBtn {
            display: unset;
        }
    }

    div.sideNav {
      width: 260px;
      height: 100%;
      position: fixed;
      top: 0;
      background: #333;
      border-right: #777 1px solid;
      z-index: 4000;
    }

    /* footer */
    
    footer, footer p{
      /* background-color: #111; */
      height: 40px;
      width: 100%;
      text-align: center;
      margin: 50px auto 0 auto;
      padding: 0 0 30px 0;
      color: #777;
      /* position: fixed; */
      /* bottom: 0;
      left: 0; */
    }
    div.footer p, p.backFront, p.backFront a {
      color: #999;
      margin: 20px;
      font-size: 0.9em;
    }
    p.backFront a {
      padding-left: 20px;
    }
    p.backFront {
      position: relative;
      cursor: pointer;
    }
    p.backFront:hover {
      opacity: 0.5;
      transition-duration: 200ms;
    }
    p.backFront::before {
      content: "";
      position: absolute;
      background: url('../images/backFront.svg');
      width: 35px;
      height: 35px;
      top: -7px;
      left: 0;
    }

    div.footer {
      position: absolute;
      bottom: 0;
    }

    div.footer .flex img {
      margin: 10px 0;
      width: 100px;
    }

    div.footer .flex {
      display: flex;
      margin: 0 20px;
    }

    /* Form styles */

    .forms {
      max-width: 400px;
      margin: 0 auto;
    }
    .errmsg {
      color: #F56476;
      text-align: center;
    }
    .forms form{
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
    }
    .content.paddingBottom {
      padding-bottom: 50px;
    }

    .forms input,
    .forms select,
    .forms textarea{
      height: 50px;
      /* display: block; */
      width: 100%;
      margin: 10px 0;
      padding: 8px;
      background-color: #ddd;
      border-radius: 5px;
      border: #777 1px solid;
    }
    .forms label{
      display: block;
      color: #777;
      margin-top: 24px;
    }
    .forms textarea{
      height: 120px;
    }
    .forms button, .home button, div.halfBtns, .p404 button, .editor button, .warnPopup button {
      margin: 30px 0 20px 0;
      height: 50px;
      width: 100%;
      background: #F56476;
      color: #111;
      padding: 6px;
      border: 0;
      font-size: 1em;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 5px;
      line-height: 1.5em;
    }

    .warnPopup button {
      margin: 30px 0 0 0;
    }
    .forms button:hover, .home button:hover, .p404 button:hover, div.halfBtns:hover, .editor button:hover {
      transition-duration: 200ms;
      opacity: 0.5;
    }
    .forms button.disabled {
      opacity: 0.5;
      cursor: unset;
    }

    .home button.playPreview {
      position: relative;
      margin: 0 0 30px 0;
    }
    .home button.playPreview::after {
        content: " Play Preview";
        position: absolute;
        width: fit-content;
        height: calc(100% - 70px);
        color: #111;
        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;
        left: calc( 50% + 20px);
        top: 35%;
        transform: translateX(-50%);
    }
    div.halfBtns {
      margin: 10px 0;
      height: 22px;
      padding: 15px;
      width: 40%;
      text-align: center;
    }
    div.halfBtns:last-of-type {
      background: unset;
      border: #F56476 1px solid;
      color: #F56476;
    }
    div.halfBtns:last-of-type:hover {
      opacity: 1;
      background: #F56476;
      color: #111;
    }
    .forms .flex {
      display: flex;
      justify-content: space-between;
    }
    
    /*  Stem player */

    div.player {
      width: calc(100% - 260px);
      height: 70px;
      position: fixed;
      bottom: 0;
      left: 260px;
      padding: 10px 0;
      border-top: #777 1px solid;
      background: #111;
      z-index: 3000;
    }
    #playAllBtn, #BtnContainer {
      margin: 10px auto 0 auto;
      padding: 15px;
      text-align: center;
      height: 22px;
      width: calc(400px - 30px);
      cursor: pointer;
      border-radius: 5px;
      background-color: #F56476;
      line-height: 1.5em;
    }
    #playAllBtn:hover {
      opacity: 0.5;
      transition-duration: 200ms;
    }
    #BtnContainer {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      width: 400px;
      gap: 10px;
      top: 0;
      left: 0;
      background-color: unset;
    }
    #BtnContainer.paused {
      transform: translate(-100vw, -62px);
      transition-duration: 200ms;
    }
    #BtnContainer.playing {
      transform: translate(0, -62px);
      transition-duration: 200ms;
    }
    #playAllBtn.paused {
      transform: translateX(0);
      transition-duration: 200ms;
    }
    #playAllBtn.playing {
      transform: translateX(100vw);
      transition-duration: 200ms;
    }
    #playAllBtn::after {
      content: " Play All Stems";
      position: absolute;
      width: fit-content;
      height: calc(100% - 70px);
      color: #111;
      font-size: 1em;
      text-transform: uppercase;
      left: calc( 50% + 10px);
      transform: translateX(-50%);
    }
    #playAllBtn::before, .home button.playPreview::before {
      content: url('../images/Play_btn_dark.svg');
      position: absolute;
      width: 40px;
      height: 40px;
      left: calc(50% - 80px);
      top: 5px;
    }
    #playAllBtn::before {
      left: calc(50% - 100px);
    }
    #BtnContainer div {
      width: inherit;
      height: calc(100% + 30px);
      margin: -15px 0 -15px 0;
      text-align: center;
      background-color: #F56476;
      border-radius: 5px;
      color: #111;
      cursor: pointer;
    }
    #BtnContainer div:hover {
      opacity: 0.5;
      transition-duration: 200ms;
    }
    #BtnContainer div#playBtn {
      background-image: url('../images/Pause_btn_dark.svg');
      background-repeat: no-repeat;
      background-position-x: center;
    }
    #BtnContainer div#stem1Btn, #BtnContainer div#stem2Btn, #BtnContainer div#stem3Btn {
      text-align: center;
      font-size: 1.8em;
      line-height: 1.8em;
    }
    #BtnContainer div#stem1Btn.muted, #BtnContainer div#stem2Btn.muted, #BtnContainer div#stem3Btn.muted, #BtnContainer div#stem1Btn.disabled, #BtnContainer div#stem2Btn.disabled, #BtnContainer div#stem3Btn.disabled {
      opacity: 0.5;
    }

/** spinner **/
.blackscreen {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0; padding: 0;
  background: rgba(17, 17, 17, 0.7);
  z-index: 9000;
}
.loadingSpinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 80px;
  height: 80px;
  z-index: 9500;
}
.loadingSpinner div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation: loadingSpinner 1.2s linear infinite;
}
.loadingSpinner div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.loadingSpinner div:nth-child(2) {
  background-color: #DA2C5E;
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.loadingSpinner div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.loadingSpinner div:nth-child(4) {
  background-color: #DA2C5E;
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.loadingSpinner div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.loadingSpinner div:nth-child(6) {
  background-color: #DA2C5E;
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.loadingSpinner div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.loadingSpinner div:nth-child(8) {
  background-color: #DA2C5E;
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.loadingSpinner div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes loadingSpinner {
  0%, 100% { opacity: 1;}
  50% { opacity: 0.5;}
}