<nav>
    <div class="site-title">
        <a href="/"><h1>OnomatoPedal Studio</h1></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/info">Track Info</a></li>
    </ul>
</nav>