<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="content forms">
        <h2>Track and Info</h2>
        <form>
            <label for="title">Track Name</label>
            <input type="text" id="title">
            <label for="artists">Artist Name(s)</label>
            <input type="text" id="artists">
            <label for="urls">Website(s)</label>
            <input type="text" id="urls">
            <button>Save</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>